{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
        
<div class="overlay"></div>
<div style="max-width: 1200px; margin: 0 auto; padding: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Line Up</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row" style="margin: auto; padding: auto;">
            <div class="col-12 col-md-6 text-center center" style="margin: 5px;">
                <img class="img-responsive" src="/media/102.png" alt="Ryan Head">
                <h5>DJ PC Head</h5>
                <p class="text">Headlining this year event! Welcome the highly rated DJ Head from Hertfordshire.</p>
            </div>
            <div class=" col-12 col-md-6 text-center center" style="margin: 5px;">
                <img class="img-responsive" src="/media/103.png" alt="Four Directions">
                <h5>Four Directions</h5>
                <p class="text">Headlining Last year event! We could not afford to not have them back after such a successful event!</p>
            </div>
            <div class="col-12 col-md-6 text-center center" style="margin: 5px;">
                <img class="img-responsive" src="/media/104.png" alt="Weekdays">
                <h5>Weekdays</h5>
                <p class="text">Coming all the way from Ghana, Africa! We welcome Weekdays! One of the up and coming Afro-beatz artist. Do not leave your dancing shoes at home for this one!!!</p>
            </div>
            <div class="clo-12 col-md-6 text-center center" style="margin: 5px;">
                <img class="img-responsive" src="/media/105.png" alt="Cross Roads">
                <h5>Cross Roads</h5>
                <p class="text">Coming from the back of a really difficult year, Cross Roads are here to lift our sprints!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}